<section class="section">

    
    <div class="container">
        <app-board class="board"></app-board>

        <div class="info">
            <h1 class="title">2048</h1>
            <app-actions class="actions"></app-actions>
        </div>
    </div>

</section>

<footer class="footer">
    <p class="info">Created by ® <a href="https://linktr.ee/miqueasgentile" target="_blank">Miqueas Gentile</a></p>
</footer>

<app-modal-restart></app-modal-restart>
<app-modal-finished></app-modal-finished>
<app-modal-win></app-modal-win>
<app-modal-how-to-play></app-modal-how-to-play>