<section class="section">

    <h1 class="title">2048</h1>
    
    <div class="container">
        <app-board class="board"></app-board>
        <app-actions class="actions"></app-actions>
        <app-how-to-play class="how-to-play"></app-how-to-play>
    </div>

</section>

<footer class="footer">
    <p class="info">Created by ® <a href="https://linktr.ee/miqueasgentile" target="_blank">Miqueas Gentile</a></p>
</footer>

<app-modal-restart></app-modal-restart>
<app-modal-finished></app-modal-finished>
<app-modal-win></app-modal-win>