<div class="background background-opaque" [ngClass]="{'invisible': !game.isRestart, 'visible': game.isRestart}"></div>
<div class="background col-center"  [ngClass]="{'invisible': !game.isRestart, 'visible': game.isRestart}">

    <div class="card reset col-init in-card">

        <span class="info in-card">¿Desea reiniciar el juego?</span>

        <div class="actions row-center in-card">

            <button class="action restart" (click)="restartGame()">Restart</button>

            <button class="action cancel" (click)="close()">Cancel</button>

        </div>
        
    </div>

</div>