<div class="background background-opaque" [ngClass]="{'invisible': !game.isFinished, 'visible': game.isFinished}"></div>
<div class="background col-center"  [ngClass]="{'invisible': !game.isFinished, 'visible': game.isFinished}">

    <div class="card finished col-init in-card">

        <span class="info in-card">Game Over.</span>
        <span class="more-info in-card">No moves available.</span>

        <div class="actions row-center in-card">

            <button class="action cancel" (click)="close()">Close</button>

        </div>
        
    </div>

</div>