
@import url("./../../shared/styles/cell-colors.scss");
@import url("./../../shared/styles/shadows.scss");
@import url("./../../shared/styles/animations.scss");
@import url("./../../shared/styles/positions.scss");


$BACKGROUND_DEFAULT: #cfcfcf;
$BACKGROUND_BORDER: #b6b6b6;
$BORDER_CELL: 5px;
$BORDER_RADIUS: 10px;
$MAX_WIDTH_CELL: 110px;


.container-game{
  position: relative;
  padding: 15px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #bbada0;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.board-game-container{
  position: absolute;
  z-index: 2;
}

  .cell {
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $MAX_WIDTH_CELL;
    height: $MAX_WIDTH_CELL;
    border-radius: 4px;;
    transition:.1s;
  }


  $MARGIN_CELL: 10px;
$SIZE_CELL: 110px;

.c0-0{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0,0);
  }

  .c0-1{
    -webkit-transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ), 0);
    -moz-transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ), 0);
    -ms-transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ), 0);
    transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ),0);
  }

  .c0-2{
    -webkit-transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2), 0);
    -moz-transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2), 0);
    -ms-transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2), 0);
    transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2),0);
  }

  .c0-3{
    -webkit-transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3), 0);
    -moz-transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3), 0);
    -ms-transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3), 0);
    transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3),0);
  }

  .c1-0{
    -webkit-transform: translate(0, calc($SIZE_CELL + $MARGIN_CELL
  ));
    -moz-transform: translate(0, calc($SIZE_CELL + $MARGIN_CELL
  ));
    -ms-transform: translate(0, calc($SIZE_CELL + $MARGIN_CELL
  ));
    transform: translate(0,calc($SIZE_CELL + $MARGIN_CELL
  ));
  }

  .c1-1{
    -webkit-transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ), calc($SIZE_CELL + $MARGIN_CELL
  ));
    -moz-transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ), calc($SIZE_CELL + $MARGIN_CELL
  ));
    -ms-transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ), calc($SIZE_CELL + $MARGIN_CELL
  ));
    transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ),calc($SIZE_CELL + $MARGIN_CELL
  ));
  }

  .c1-2{
    -webkit-transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2), calc($SIZE_CELL + $MARGIN_CELL
  ));
    -moz-transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2), calc($SIZE_CELL + $MARGIN_CELL
  ));
    -ms-transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2), calc($SIZE_CELL + $MARGIN_CELL
  ));
    transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2),calc($SIZE_CELL + $MARGIN_CELL
  ));
  }

  .c1-3{
    -webkit-transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3), calc($SIZE_CELL + $MARGIN_CELL
  ));
    -moz-transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3), calc($SIZE_CELL + $MARGIN_CELL
  ));
    -ms-transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3), calc($SIZE_CELL + $MARGIN_CELL
  ));
    transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3),calc($SIZE_CELL + $MARGIN_CELL
  ));
  }

  .c2-0{
    -webkit-transform: translate(0, calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
    -moz-transform: translate(0, calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
    -ms-transform: translate(0, calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
    transform: translate(0,calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
  }

  .c2-1{
    -webkit-transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ), calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
    -moz-transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ), calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
    -ms-transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ), calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
    transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ),calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
  }

  .c2-2{
    -webkit-transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2), calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
    -moz-transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2), calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
    -ms-transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2), calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
    transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2),calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
  }


  .c2-3{
    -webkit-transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3), calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
    -moz-transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3), calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
    -ms-transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3), calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
    transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3),calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2));
  }

  .c3-0{
    -webkit-transform: translate(0, calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
    -moz-transform: translate(0, calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
    -ms-transform: translate(0, calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
    transform: translate(0,calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
  }

  .c3-1{
    -webkit-transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ), calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
    -moz-transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ), calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
    -ms-transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ), calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
    transform: translate(calc($SIZE_CELL + $MARGIN_CELL
  ),calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
  }

  .c3-2{
    -webkit-transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2), calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
    -moz-transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2), calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
    -ms-transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2), calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
    transform: translate(calc($SIZE_CELL * 2 + $MARGIN_CELL
   * 2),calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
  }

  .c3-3{
    -webkit-transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3), calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
    -moz-transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3), calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
    -ms-transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3), calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
    transform: translate(calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3),calc($SIZE_CELL * 3 + $MARGIN_CELL
   * 3));
  }