
@import url("./../../shared/styles/cell-colors.scss");
@import url("./../../shared/styles/shadows.scss");
@import url("./../../shared/styles/animations.scss");
@import url("./../../shared/styles/positions.scss");


$BACKGROUND_DEFAULT: #cfcfcf;
$BACKGROUND_BORDER: #b6b6b6;
$BORDER_CELL: 5px;
$BORDER_RADIUS: 10px;
$MAX_WIDTH_CELL: 110px;


.container-game{
  position: relative;
  padding: 15px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #bbada0;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.board-game-container{
  position: absolute;
  z-index: 2;
}

  .cell {
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $MAX_WIDTH_CELL;
    height: $MAX_WIDTH_CELL;
    border-radius: 4px;;
    transition:.1s;
  }

  /*.c0-0{
    top:0;
    left:0;
  }

  .c0-1{
    top:0;
    left:calc($MAX_WIDTH_CELL + $BORDER_RADIUS);
  }

  .c0-2{
    top:0;
    left:calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2);
  }

  .c0-3{
    top:0;
    left:calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3);
  }

  .c1-0{
    top:calc($MAX_WIDTH_CELL + $BORDER_RADIUS);
    left:0;
  }

  .c1-1{
    top:calc($MAX_WIDTH_CELL + $BORDER_RADIUS);
    left:calc($MAX_WIDTH_CELL + $BORDER_RADIUS);
  }

  .c1-2{
    top:calc($MAX_WIDTH_CELL + $BORDER_RADIUS);
    left:calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2);
  }

  .c1-3{
    top:calc($MAX_WIDTH_CELL + $BORDER_RADIUS);
    left:calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3);
  }

  .c2-0{
    top:calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2);
    left:0;
  }

  .c2-1{
    top:calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2);
    left:calc($MAX_WIDTH_CELL + $BORDER_RADIUS);
  }


  .c2-2{
    top:calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2);
    left:calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2);
  }

  .c2-3{
    top:calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2);
    left:calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3);
  }

  .c3-0{
    top:calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3);
    left:0;
  }

  .c3-1{
    top:calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3);
    left:calc($MAX_WIDTH_CELL + $BORDER_RADIUS);
  }

  .c3-2{
    top:calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3);
    left:calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2);
  }

  .c3-3{
    top:calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3);
    left:calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3);
  }
*/


.block{
  display:block;
}

/*
@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}

@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}

@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}


@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/
