    

<div class="container-game box-shadow">

    <div class="board-game-container">
        <div class="grid-row" *ngFor="let row of ANY_BOARD; index as i">
            <div class="grid-cell" *ngFor="let value of row; index as j">
                
            </div>
        </div>
    </div>

    
    <div class="board-container" >
        <div class="cell {{getPositionInBoard(cell)}} {{'cell-'+cell.value}} box-shadow" 
        [ngClass]="{'is-new': isNew(cell.position.X, cell.position.Y)}" *ngFor="let cell of BOARD_GAME"> 
        <!-- [ngStyle]="getStyleFromCell(cell.position.X, cell.position.Y)", 'is-add': isAdd(cell)  -->
            <div class="cell-value value" [ngStyle]="{'font-size': adjustFontSize(cell.value)}">{{cell.value}}</div>
        </div>
    </div>
</div>


<!--<div class="background-game"></div>
<div class="container-game" >
        <div class="cell {{'cell-'+cell.value}} {{'c'+cell.position.X+'-'+cell.position.Y}}"
        [ngClass]="{'is-new': isNew(cell.position.X, cell.position.Y)}" *ngFor="let cell of BOARD_GAME">
            <div class="cell-value value">{{cell.value}}</div>
        </div>
</div>-->

<!--<div class="container-game box-shadow">
    <div class="row {{'row-'+i}}" *ngFor="let row of game.board; index as i">
        <!-- {{value!=0?'c'+0+'-'+j:''}} --
        <div class="col cell {{value | numToString}} {{'c'+0+'-'+j}}" [ngClass]="{'first-row': i==0, 'final-row':i==game.board.length - 1, 'first-column': j==0, 'final-column': j==row.length -1, 'is-new': isNew(i,j)}" *ngFor="let value of row; index as j">
            <span class="value">{{value ==0? '': value}}</span>
            
        </div>
    </div>
</div>-->
<!--<span>{{i + " " +j}}</span>-->
