<div class="background background-opaque" [ngClass]="{'invisible': game.isWinner!=1, 'visible': game.isWinner==1}"></div>
<div class="background col-center"  [ngClass]="{'invisible': game.isWinner!=1, 'visible': game.isWinner==1}">

    <div class="card win col-init in-card">

        <span class="info in-card">You won!</span>
        <span class="more-info in-card">If you want to continue playing, click Continue.</span>

        <div class="actions row-center in-card">

            <button class="action continue" (click)="close()">Continue</button>

        </div>
        
    </div>

</div>