$BACKGROUND_DEFAULT_2: #cfcfcf;
/* --------------------------*/


.value{
    font-family: "Roboto", sans-serif;
    font-size:40px;
    font-weight: 600;
    color: #ffffff;
}

.value{
    font-family: "Ubuntu", sans-serif;
    font-size:40px;
    font-weight: 600;
    color: #ffffff;
}

.cell{
    background:#000000;
}

.cell-2 .value, .cell-4 .value{
    color: #715151 !important;
}

.cell-0{
    background:$BACKGROUND_DEFAULT_2 !important;
}

.cell-2{
    background:#fff8d8;
}

.cell-4{
    background:#ffea82;
}

.cell-8{
    background:#ffe100
}

.cell-16{
    background:#f99d1c
}

.cell-32{
    background:#a44118
}

.cell-64{
    background:#55bfeb;
}

.cell-128{
    background:#12959f;
}

.cell-256{
    background:#233f83;
}

.cell-512{
    background:#6950a1;
}

.cell-1024{
    background:#ee3042;
}

.cell-2048{
    background:#3ab03a;
}

.cell-4096{
    background:#e1058c;
}

.default{
    background:#000000;
}