

$BACKGROUND_DEFAULT_2: #cfcfcf;

.cero{
    background:red !important;
}

.dos{
    background:#fff8d8;
}

.cuatro{
    background:#ffea82;
}

.ocho{
    background:#ffe100
}

.dieciseis{
    background:#f99d1c
}

.treinta-y-dos{
    background:#a44118
}

.sesenta-y-cuatro{
    background:#55bfeb;
}

.ciento-veintiocho{
    background:#12959f;
}

.doscientos-cincuenta-y-seis{
    background:#233f83;
}

.quinientos-doce{
    background:#49a046;
}

.mil-veinticuatro{
    background:#ee3042;
}

.dos-mil-cuarenta-ocho{
    background:#6950a1;
}

.cuatro-mil-noventa-seis{
    background:#e1058c;
}

.default{
    background:#000000;
}