$BACKGROUND_DEFAULT_2: #cfcfcf;
/* --------------------------*/


.value{
    font-family: "Roboto", sans-serif;
    font-size:32px;
    font-weight: 600;
    color: #ffffff;
}

.value{
    font-family: "Ubuntu", sans-serif;
    font-size:32px;
    font-weight: 600;
    color: #ffffff;
}

.dos .value, .cuatro .value{
    color: #715151 !important;
}

.cero{
    background:$BACKGROUND_DEFAULT_2 !important;
}

.dos{
    background:#fff8d8;
}

.cuatro{
    background:#ffea82;
}

.ocho{
    background:#ffe100
}

.dieciseis{
    background:#f99d1c
}

.treinta-y-dos{
    background:#a44118
}

.sesenta-y-cuatro{
    background:#55bfeb;
}

.ciento-veintiocho{
    background:#12959f;
}

.doscientos-cincuenta-y-seis{
    background:#233f83;
}

.quinientos-doce{
    background:#6950a1;
}

.mil-veinticuatro{
    background:#ee3042;
}

.dos-mil-cuarenta-y-ocho{
    background:#3ab03a;
}

.cuatro-mil-noventa-seis{
    background:#e1058c;
}

.default{
    background:#000000;
}