
$BORDER_CELL: 5px;
$BORDER_RADIUS: 10px;
$MAX_WIDTH_CELL: 110px;

.value{}

.c0-0{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0,0);
  }

  .c0-1{
    -webkit-transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS), 0);
    -moz-transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS), 0);
    -ms-transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS), 0);
    transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS),0);
  }

  .c0-2{
    -webkit-transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2), 0);
    -moz-transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2), 0);
    -ms-transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2), 0);
    transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2),0);
  }

  .c0-3{
    -webkit-transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3), 0);
    -moz-transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3), 0);
    -ms-transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3), 0);
    transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3),0);
  }

  .c1-0{
    -webkit-transform: translate(0, calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
    -moz-transform: translate(0, calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
    -ms-transform: translate(0, calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
    transform: translate(0,calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
  }

  .c1-1{
    -webkit-transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS), calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
    -moz-transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS), calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
    -ms-transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS), calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
    transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS),calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
  }

  .c1-2{
    -webkit-transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2), calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
    -moz-transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2), calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
    -ms-transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2), calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
    transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2),calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
  }

  .c1-3{
    -webkit-transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3), calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
    -moz-transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3), calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
    -ms-transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3), calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
    transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3),calc($MAX_WIDTH_CELL + $BORDER_RADIUS));
  }

  .c2-0{
    -webkit-transform: translate(0, calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
    -moz-transform: translate(0, calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
    -ms-transform: translate(0, calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
    transform: translate(0,calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
  }

  .c2-1{
    -webkit-transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS), calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
    -moz-transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS), calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
    -ms-transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS), calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
    transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS),calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
  }

  .c2-2{
    -webkit-transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2), calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
    -moz-transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2), calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
    -ms-transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2), calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
    transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2),calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
  }


  .c2-3{
    -webkit-transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3), calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
    -moz-transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3), calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
    -ms-transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3), calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
    transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3),calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2));
  }

  .c3-0{
    -webkit-transform: translate(0, calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
    -moz-transform: translate(0, calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
    -ms-transform: translate(0, calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
    transform: translate(0,calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
  }

  .c3-1{
    -webkit-transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS), calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
    -moz-transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS), calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
    -ms-transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS), calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
    transform: translate(calc($MAX_WIDTH_CELL + $BORDER_RADIUS),calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
  }

  .c3-2{
    -webkit-transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2), calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
    -moz-transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2), calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
    -ms-transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2), calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
    transform: translate(calc($MAX_WIDTH_CELL * 2 + $BORDER_RADIUS * 2),calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
  }

  .c3-3{
    -webkit-transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3), calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
    -moz-transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3), calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
    -ms-transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3), calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
    transform: translate(calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3),calc($MAX_WIDTH_CELL * 3 + $BORDER_RADIUS * 3));
  }