.svg-24{
    width: 24px;
    height: 24px;
}

.svg-32{
    width: 32px;
    height: 32px;
}

.svg-40{
    width: 40px;
    height: 40px;
}

.svg-44{
    width: 44px;
    height: 44px;
}

.svg-48{
    width: 48px;
    height: 48px;
}

@media screen and (max-width:700px) {
    .svg-40{
        width: 29px;
        height: 29px;
    }

    .svg-44{
        width: 32px;
        height: 32px;
    }
}