$BACKGROUND_DEFAULT: #cfcfcf;
$BACKGROUND_BORDER: #b6b6b6;
$BORDER_CELL:5px;
$BORDER_RADIUS:10px;
$MAX_WIDTH_CELL:130px;



$WIDTH_BOARD_550_TO_1920: 500px;
$WIDTH_BOARD_400_TO_550: 400px;
$WIDTH_BOARD_0_TO_400: 310px;