<div class="actions">
    <div class="action back col-center" (click)="goBack()"> <span class="info back-text">Regresar hacia atrás</span></div>
    <div class="action score col-center"> <span class="info score-text">Puntuación</span><span class="points">{{getScore()}}</span></div>
    <div class="action restart col-center" (click)="restartGame()"> <span class="info restart-text">Reiniciar partida</span></div>
    <div class="action score-record col-center"> <span class="info record-text">Record:</span><span class="points">{{getRecord()}}</span></div>
</div>