@import url("./../../shared/styles/flex.scss");
@import url("./../../shared/styles/shadows.scss");

//$BACKGROUND_BORDER: #909090;
$BACKGROUND_BORDER:#bbada0;

.actions-container{
  z-index:100;
}

.actions-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) repeat(2, 2.5rem);
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}
    
.score { grid-area: 1 / 1 / 2 / 2; }
.score-record { grid-area: 1 / 2 / 2 / 3; }
.back { grid-area: 2 / 1 / 3 / 2; }
.ia { grid-area: 2 / 2 / 3 / 3; }
.restart { 
  grid-area: 3 / 1 / 4 / 3;
}
.how-to-play {
   grid-area: 4 / 1 / 5 / 3;
}


.action {
  background: $BACKGROUND_BORDER;
  width: auto;
  gap: 4px;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;

  span {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff8d8;
  }

  .points {
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFF;
  }
}

.action:hover, .action:active{
  background: #595959
}

.back, .restart, .config{
  cursor: pointer;
}

.action.disabled{
  background: #cfcfcf;
  span{
    color:#b6b6b6
  }
}

@media screen and (max-width:700px) {
  .actions-container{
  width:100vw;
  }

  .actions {
    flex-direction: row;
    gap: 12px;
  }

  .icon{
    width:32px;
    height:32px;
  }

  .action {
    width: 48px;
    height: 48px;
    gap:4px;
    padding: 8px;
    border-radius: 12px;
    span {
      font-size: 12px;
    }
    .points {
      font-size: 14px;
    }
  }
}


@media screen and (max-width:400px) {
  .actions{
    flex-wrap: wrap;
  }

  .actions {
    flex-direction: row;
    gap: 10px;
  }

  .icon{
    width:28px;
    height:28px;
  }

  .action {
    width: 40px;
    height: 40px;
    gap:4px;
    padding: 8px;
    border-radius: 12px;
    span {
      font-size: 12px;
    }
    .points {
      font-size: 14px;
    }
  }


}