@import url("./../../shared/styles/visibility.scss");
@import url("./../../shared/styles/flex.scss");

// Color Variables
$themes: (
  reset: (#d7d79e, #4b4c2e),
  finished: (#e0afaf, #4c2e2e),
  win: (#c4f7c4, #334c2e),
  how-to-play: (#afd7e0, #2e4c4c)
);

// Mixin for card styles
@mixin card-theme($background, $color) {
  background: $background;

  .info {
    margin-top: 48px;
    padding: 0 16px;
    font-size: 44px;
    color: $color;
  }

  .more-info {
    margin-top: 24px;
    color: $color;
  }

  .action {
    margin-top: 48px;
    background: $background;
    color: $color;

    &:hover {
      background: $color;
      color: $background;
    }
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;

  &-opaque {
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
  }
}

.card {
  width: 40%;
  height: auto;
  border-radius: 20px;
  padding: 16px;
  padding-bottom: 32px;
  z-index: 999;

  .info {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
  }

  .more-info {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
  }


  .actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;

    .action {
      width: min(200px, 40%);
      outline: none;
      border: none;
      border-radius: 8px;
      padding: 8px 16px;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.2s;
    }
  }
}

// Generate theme classes dynamically
@each $theme, $colors in $themes {
  .card.#{$theme} {
    @include card-theme(nth($colors, 1), nth($colors, 2));
  }
}


@media screen and (max-width: 1000px) {

  .width {
    width: 60%;
  }

  .info {
    margin-top: 32px;
  }

  .more-info {
    margin-top: 8px;
  }

  .info {
    font-size: 26px !important;
  }

  .more-info{
    font-size: 20px !important;
  }

}

@media screen and (max-width: 800px) {
  .card {
    width: 80%;
  }
}


@media screen and (max-width: 600px) {
  
  .info {
    font-size: 22px !important;
  }

  .more-info{
    font-size: 18px !important;
  }
}