/* You can add global styles to this file, and also import other style files */

*{
    font-family: "Roboto", sans-serif;
}


body{
    background: #f5f6d7;
}

.show-on-mobile{
    display: none;
}

@media screen and (max-width: 700px) {
    .show-on-mobile{
        display: flex;
    }
}